/.vscode
build/
install/
/.VSCodeCounter

*.bin
*.info
coverage/

# Important files for units tests. TODO: Explore removing this requirement. instead we can mock disk?
!core/assembler/tests/disk.bin
!core/assembler/tests/disk.bin.info
!core/assembler/tests/rom.bin